body{
    background-color: #87CEEB;
}
button{
    width: 80px;
}
h1{
    color: #696969;
}
p{
    font-size: 34pt;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid green;
}